.topbar-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 46px;
  background-color: #2a2d34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: height 0.5s ease-out;
  z-index: 999999;
}

.topbar-item-icon {
}

.topbar-item-text {
  color: rgba(243, 237, 231, 0.87);
  font-weight: 400;
  letter-spacing: 2px;
  margin: 10px;
  font-size: 15px;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  padding-bottom: 2px;
}

.topbar-item-text > a {
  color: rgba(243, 237, 231, 0.87);
}

.topbar-item-text > a:hover {
  color: rgba(190, 188, 185, 0.87);
}

.topbar-item-text:hover {
  color: #999999;
}

.topbar-icon-active {
}

.topbar-item-text-active {
  color: #abdf7d !important;
  border-bottom: 1px solid;
}

.topbar-logo {
  height: 0px;
  width: 0px;
  /* position: absolute; */
  transition: width 0.5s ease-out, height 0.5s ease-out;
}

.topbar-logo-img {
  width: 100%;
}

/* STICKY */
.sticky {
  height: 82px;
  transition: height 0.5s ease-out;
}

.sticky-logo {
  height: 45px;
  width: 45px;
  transition: width 0.5s ease-out, height 0.5s ease-out;
}

.topbar-container--mobile {
  height: 56px;
  background-color: #2a2d34;
  position: fixed;
  top: 0px;
  z-index: 99999999;
  left: 0px;
  width: 100%;
}

.topbar-logo--mobile {
}

.topbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.topbar-menu-selection {
  width: 80%;
  background-color: rgb(32, 35, 42);
  height: 42px;
  color: #fff;
  margin: 6px;
}

.topbar-menu-collapsable {
  width: 80%;
  height: 0px;
  opacity: 0;
  border: none;
  margin-top: 2px;
  border-top: 2px solid #abdf7d;
  background-color: rgb(32, 35, 42);
  transition: height 0.3s linear, opacity 0.2s linear;
}

.topbar-menu-collapsable-closed {
  height: 180px;
  opacity: 1;
  transition: height 0.3s ease-in, opacity 0.2s linear;
}

.topbar-menu-selected {
  color: #f6f4f2;
  margin: 7px;
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}

.topbar-menu-icon-container {
  float: right;
  margin-top: 2px;
}

.topbar-menu-icon {
  fill: #abdf7d !important;
}

.topbar-menu-item {
  font-size: 16px;
  margin: 17px;
  color: #f6f4f2;
  width: 100%;
  padding-left: 20px;
}
