.cima-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f2024b3;
}

.cima-section-mt {
  margin-top: 46px;
}

.cima-section-logo {
  width: 52px;
}

.cima-title {
  font-size: 62px;
  color: #f3ede7 !important;
  font-weight: 200;
}

.cima-subtitle {
  font-size: 20px;
  color: #b9b9b9 !important;
  max-width: 420px;
  text-align: center;
  font-weight: 200;
}

.cima-section-button {
  padding: 0.3em 1em;
  border: 2px solid;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
  background-color: transparent;
  color: #abdf7d !important;
  transition: border 0.2s linear;
}

.cima-section-button:hover {
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 0.2s linear;
}

.section-title {
  font-size: 23px;
  text-align: center;
  margin: 50px;
}

.section-subtitle {
  font-size: 16px;
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
}

.page-section {
  min-height: 430px;
  margin-bottom: 60px;
}
