.search-button {
  height: 48px;
  width: 232px;
  text-align: center;
  color: #282928;
  font-size: 1rem;
  font-weight: 200;
  background: #bde07d;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.search-button:hover {
  background: #cfe4a8;
}

.search-logo {
  width: 42px;
  position: fixed;
  right: 20px;
  top: 10px;
}

.search-empty {
  margin: 170px;
  font-size: 1.2em;
  font-weight: 20;
}
