.who-avatar {
  max-width: 182px;
  border-radius: 5px;
}

.who-name {
  font-size: 21px;
  font-weight: 200;
  margin-top: 15px;
  color: #444;
}

.who-description {
  color: #f1676e;
  font-weight: 200;
}

.who-link {
  text-decoration: none;
}

.who-dude-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
